[Container]
Pod=prom.pod
Image=docker.io/prom/node-exporter:latest
Timezone=local
Volume=/:/host/rootfs:ro
Volume=/proc:/host/procfs:ro
Volume=/sys:/host/sysfs:ro
Exec=--path.rootfs='/host/rootfs' --path.procfs='/host/procfs' --path.sysfs='/host/sysfs' \
     --collector.filesystem.mount-points-exclude='^/(dev|mnt|proc|run|sys|tmp)($$|/)'

[Service]
Restart=always

[Install]
WantedBy=default.target
