[Container]
Pod=prom.pod
Image=docker.io/prom/prometheus:latest
Timezone=local
Volume=%h/prometheus-config:/etc/prometheus
Volume=%h/prometheus-data:/prometheus

[Service]
Restart=always

[Install]
WantedBy=default.target
