[Container]
Image=docker.io/mbentley/omada-controller:latest
Timezone=local
Ulimit=nofile=4096:8192
Volume=%h/omada-data:/opt/tplink/EAPController/data
Volume=%h/omada-logs:/opt/tplink/EAPController/logs
PublishPort=8043:8043
PublishPort=8088:8088
PublishPort=8843:8843
PublishPort=27001:27001/udp
PublishPort=29810:29810/udp
PublishPort=29811-29816:29811-29816
HealthCmd=none
StopTimeout=60

[Service]
Restart=always
TimeoutSec=70

[Install]
WantedBy=default.target
