buffers {
  size_kb: 524288
  fill_policy: DISCARD
}

data_sources {
  config {
    name: "linux.system_info"
  }
}

data_sources {
  config {
    name: "linux.sys_stats"
    sys_stats_config {
      cpufreq_period_ms: 1000
      thermal_period_ms: 1000
      psi_period_ms: 1000
      devfreq_period_ms: 1000
      #gpufreq_period_ms: 1000

      meminfo_period_ms: 1000
      meminfo_counters: MEMINFO_MEM_TOTAL
      meminfo_counters: MEMINFO_MEM_AVAILABLE

      vmstat_period_ms: 1000
      vmstat_counters: VMSTAT_NR_FREE_PAGES
      vmstat_counters: VMSTAT_NR_ANON_PAGES
      vmstat_counters: VMSTAT_NR_FILE_PAGES
      vmstat_counters: VMSTAT_NR_SLAB_RECLAIMABLE
      vmstat_counters: VMSTAT_NR_SLAB_UNRECLAIMABLE
      vmstat_counters: VMSTAT_NR_PAGE_TABLE_PAGES
      vmstat_counters: VMSTAT_PGPGIN
      vmstat_counters: VMSTAT_PGPGOUT
      vmstat_counters: VMSTAT_PSWPIN
      vmstat_counters: VMSTAT_PSWPOUT
      vmstat_counters: VMSTAT_PGFAULT
      vmstat_counters: VMSTAT_PGMAJFAULT
      vmstat_counters: VMSTAT_PGSCAN_DIRECT
      vmstat_counters: VMSTAT_PGSCAN_KSWAPD
      vmstat_counters: VMSTAT_PGSTEAL_DIRECT
      vmstat_counters: VMSTAT_PGSTEAL_KSWAPD
    }
  }
}

data_sources {
  config {
    name: "linux.sysfs_power"
  }
}

data_sources {
  config {
    name: "linux.systemd_journald"
  }
}

# provided by traced_perf
#data_sources {
#  config {
#    name: "linux.perf"
#    perf_event_config {
#      timebase {
#        frequency: 100
#        counter: SW_CPU_CLOCK
#        timestamp_clock: PERF_CLOCK_MONOTONIC
#      }
#      callstack_sampling {
#        kernel_frames: true
#      }
#    }
#  }
#}

data_sources {
  config {
    name: "linux.process_stats"
  }
}

data_sources {
  config {
    name: "linux.ftrace"
    ftrace_config {
      ftrace_events: "sched/sched_switch"
      ftrace_events: "sched/sched_waking"
      ftrace_events: "task/task_newtask"
      ftrace_events: "task/task_rename"

      ftrace_events: "power/cpu_frequency"
      ftrace_events: "power/cpu_frequency_limits"
      ftrace_events: "power/cpu_idle"

      ftrace_events: "thermal/cdev_update"
      ftrace_events: "thermal/thermal_temperature"

      ftrace_events: "devfreq/devfreq_frequency"

      ftrace_events: "dma_fence/dma_fence_init"
      ftrace_events: "dma_fence/dma_fence_emit"
      ftrace_events: "dma_fence/dma_fence_signaled"
      ftrace_events: "dma_fence/dma_fence_wait_start"
      ftrace_events: "dma_fence/dma_fence_wait_end"

      ftrace_events: "gpu_scheduler/drm_sched_job_done"
      ftrace_events: "gpu_scheduler/drm_sched_job_queue"
      ftrace_events: "gpu_scheduler/drm_sched_job_run"
      # <6.17
      ftrace_events: "gpu_scheduler/drm_sched_job"
      ftrace_events: "gpu_scheduler/drm_run_job"
      ftrace_events: "gpu_scheduler/drm_sched_process_job"

      ftrace_events: "drm/drm_vblank_event"
      ftrace_events: "drm/drm_vblank_event_delivered"

      ftrace_events: "gpu_mem/gpu_mem_total"

      #ftrace_events: "irq/irq_handler_entry"
      #ftrace_events: "irq/irq_handler_exit"
      #ftrace_events: "irq/softirq_entry"
      #ftrace_events: "irq/softirq_exit"
      #ftrace_events: "irq_vectors/local_timer_entry"
      #ftrace_events: "irq_vectors/local_timer_exit"
      #ftrace_events: "timer/hrtimer_expire_entry"
      #ftrace_events: "timer/hrtimer_expire_exit"

      #ftrace_events: "rpm/rpm_status"

      ftrace_events: "workqueue/workqueue_execute_end"
      ftrace_events: "workqueue/workqueue_execute_start"

      ftrace_events: "vmscan/mm_vmscan_direct_reclaim_begin"
      ftrace_events: "vmscan/mm_vmscan_direct_reclaim_end"

      ftrace_events: "raw_syscalls/sys_enter"
      ftrace_events: "raw_syscalls/sys_exit"
      syscall_events: "sys_ioctl"

      #ftrace_events: "kmem/rss_stat"
      ftrace_events: "oom/oom_score_adj_update"

      symbolize_ksyms: true

      # ATRACE_TAG_*
      atrace_categories: "gfx"
      atrace_categories: "input"
      atrace_categories: "view"
      atrace_categories: "webview"
      atrace_categories: "wm"
      atrace_categories: "am"
      atrace_categories: "sm"
      atrace_categories: "audio"
      atrace_categories: "video"
      atrace_categories: "camera"
      atrace_categories: "hal"
      atrace_apps: "*"
      atrace_categories: "res"
      atrace_categories: "dalvik"
      atrace_categories: "rs"
      atrace_categories: "bionic"
      atrace_categories: "power"
      atrace_categories: "pm"
      atrace_categories: "ss"
      atrace_categories: "database"
      atrace_categories: "network"
      atrace_categories: "adb"
      atrace_categories: "vibrator"
      atrace_categories: "aidl"
      atrace_categories: "nnapi"
      atrace_categories: "rro"
      atrace_categories: "thermal"

      atrace_categories: "sched"
      atrace_categories: "freq"
      atrace_categories: "binder_driver"
      atrace_categories: "binder_lock"
      ftrace_events: "power/gpu_frequency"
      ftrace_events: "power/gpu_work_period"
      ftrace_events: "synthetic/rss_stat_throttled"
    }
  }
}

data_sources {
  config {
    name: "gpu.counters"
    gpu_counter_config {
      counter_period_ns: 300000
    }
  }
}

data_sources {
  config {
    name: "gpu.renderstages"
  }
}

data_sources {
  config {
    name: "track_event"
    track_event_config {
      #enabled_tags: "slow"
    }
  }
}

data_sources: {
  config {
    name: "org.chromium.trace_event"
    chrome_config {
      trace_config: "{\"record_mode\":\"record-until-full\",\"included_categories\":[\"drm\",\"exo\",\"gpu\",\"gpu.angle\",\"input\",\"mojom\",\"toplevel\",\"toplevel.flow\",\"v8\",\"viz\",\"wayland\"],\"memory_dump_config\":{}}"
    }
  }
}

data_sources: {
  config {
    name: "android.power"
    android_power_config {
      battery_counters: BATTERY_COUNTER_CAPACITY_PERCENT
      battery_counters: BATTERY_COUNTER_CHARGE
      battery_counters: BATTERY_COUNTER_CURRENT
      battery_counters: BATTERY_COUNTER_CURRENT_AVG
      battery_counters: BATTERY_COUNTER_VOLTAGE
      collect_power_rails: true
    }
  }
}

# provided by gpuservice
data_sources {
  config {
    name: "android.gpu.memory"
  }
}

data_sources {
  config {
    name: "android.log"
    android_log_config {
      min_prio: PRIO_VERBOSE
      log_ids: LID_DEFAULT
      log_ids: LID_SYSTEM
      log_ids: LID_EVENTS
      log_ids: LID_CRASH
    }
  }
}

# provided by surfaceflinger
data_sources {
  config {
    name: "android.surfaceflinger.frametimeline"
  }
}
