[Match]
Name=lan

[Link]
RequiredForOnline=no-carrier

[Network]
ConfigureWithoutCarrier=yes
Address=10.87.20.1/24
IPv6SendRA=yes
DHCPPrefixDelegation=yes
VLAN=iot
