[NetDev]
Name=wg0
Kind=wireguard

# Peers' /etc/wireguard/wg0.conf should have
#
#   [Peer]
#   PublicKey=<KEY>
#   AllowedIPs=192.168.87.10/32
#   Endpoint=olv-home.duckdns.org:51820
[WireGuardt]
PrivateKey=<KEY>
ListenPort=51820

# Peer's /etc/wireguard/wg0.conf should have
#
#   [Interface]
#   PrivateKey=<KEY>
#   Address=192.168.87.20/24
[WireGuardPeer]
PublicKey=<KEY>
AllowedIPs=192.168.87.20/32
