[Container]
Image=lscr.io/linuxserver/calibre-web:latest
Timezone=local
Volume=%h/calibre-web-config:/config
Volume=/srv/ebooks:/books
PublishPort=8083:8083

[Service]
Restart=always

[Install]
WantedBy=default.target
