[Container]
Pod=omada.pod
Image=docker.io/mbentley/omada-controller:6.0
Timezone=local
Ulimit=nofile=4096:8192
Volume=%h/omada-data:/opt/tplink/EAPController/data
Volume=%h/omada-logs:/opt/tplink/EAPController/logs
Environment=MONGO_EXTERNAL="true"
Environment=EAP_MONGOD_URI="mongodb://omada:0m4d4@systemd-mongo:27017/omada"
HealthCmd=none
StopTimeout=60

[Service]
Restart=always
TimeoutSec=70

[Install]
WantedBy=default.target
